.clients__slider {
  position: relative;
}
.clients__container {
  position: relative;
  display: flex;
  min-width: 0;
}
.clients-img__item {
  /* width: 960px;
  height: 500px; */
  width: 50%;
  display: flex;
}
.clients-img__content {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  /* height: 500px; */
}
.clients-description__item {
  background: #53354a;
  width: 50%;
  padding: 115px 85px 0px;
}
.clients-description__item_comment {
  width: 530px;
  color: #ffffff;
  font-family: 'Cardo';
  font-size: 36px;
  font-style: italic;
  line-height: 42px;
  text-align: left;
  margin-bottom: 30px;
}

.clients-description__item_position {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 185px;
}

@media (max-width: 1200px) {
  .clients-img__item {
    display: none;
  }
  .clients-description__item {
    width: 100%;
  }
  .clients-description__item_comment {
    margin: 0 auto 30px;
  }
  .clients-description__item_position {
    width: 300px;
    margin: 0 auto 185px;
  }
  .clients-description__item {
    padding: 115px 0 0;
  }
}

@media (max-width: 768px) {
  .clients-description__item_comment {
    font-size: 28px;
    line-height: 36px;
  }
  .clients-description__item {
    padding: 115px 0 0;
  }
}
@media (max-width: 576px) {
  .clients-description__item_comment {
    font-size: 20px;
    line-height: 24px;
    width: 80%;
    margin: 0 auto 20px;
  }
  .clients-description__item_position {
    margin: 0 auto 115px;
    width: 80%;
  }
  .clients-description__item {
    padding: 65px 0 0;
  }
}
