.download {
  padding-top: 100px;
}
.download__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.download__title {
  color: #2d3033;
  font-family: 'Raleway';
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.download__subtitle {
  color: #2d3033;
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.download__btn {
  padding: 18px 83px;
}
.download__btn:hover {
  padding: 18px 83px;

  background: #db1d1d;
  border: 1px solid #db1d1d;
}
