/* fullscreen */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.header {
  background: url(/img/header/layer.png) no-repeat;
  background-size: cover;
  position: relative;
  min-width: 100%;
  background-position: top left;
}
.navigation {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  margin-bottom: 50px;
}
.navigation__logo {
  text-decoration: none;
}
.navigation__logo_highlighted {
  color: #66697f;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
}
.navigation__logo_non-highlighted {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.75;
}

.navigation__menu {
  display: flex;
  align-items: center;
}
.navigation__item_link {
  text-decoration: none;
  opacity: 0.75;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.navigation__item_link:hover {
  color: #e84545;
}

.navigation__item:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

/*_______________ FS ______________*/
.first-screen {
  margin-bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.first-screen__title {
  width: 870px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 71px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.first-screen__text {
  width: 915px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 75px;
}

.first-screen__btn,
.btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #e84545;
  border: 1px solid #e84545;
  padding: 18px 50px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  text-align: center;
}
.first-screen__btn:hover,
.btn:hover {
  transition: 0.5s all;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 18px 50px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  text-align: center;
}
