/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
.slick-slider {
  position: relative;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Точки (булиты) */
.clients__dots .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  left: calc(50% + 265px);
  bottom: 120px;
}
.clients__dots .slick-dots li {
  list-style-type: none;
  margin: 0 10px;
}
/* Активная точка */
.clients__dots .slick-dots li.slick-active button {
  background: #ffffff;
  border: 1px solid #ffffff;
  opacity: 1;
}
/* Элемент точки */
.clients__dots .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 1px solid #ffffff;
  opacity: 0.2;
  border-radius: 50%;
  padding: 0;
}
@media (max-width: 1200px) {
  .clients__dots .slick-dots {
    left: calc(50% - 100px);
  }
}

@media (max-width: 576px) {
  .clients__dots .slick-dots {
    left: calc(50% - 100px);
    bottom: 80px;
  }
}
