@import url('header.css');
@import url('features.css');
@import url('works.css');
@import url('team.css');
@import url('download.css');
@import url('footer.css');
@import url('clients.css');

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  height: 100%;
}
