.works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.works__item {
  width: 475px;
  position: relative;
}
.works__item:nth-child(-n + 4) {
  margin-bottom: 1px;
}
.works__description {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 475px;
  padding: 157px 0;
}
.works__description:hover {
  opacity: 1;
  transition: all 0.5s;
  position: absolute;
  display: block;
  width: 475px;
  padding: 157px 0;
  background: rgba(232, 69, 69, 0.9);
}

.works__description_title {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.works__description_text {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
