.works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.works__item {
  width: 25%;
  position: relative;
  border: 1px solid #ffffff;
}

.works__description {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.works__description:hover {
  opacity: 1;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  background: rgba(232, 69, 69, 0.9);
}

.works__description_title {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.works__description_text {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 966px) {
  .works__item {
    width: 50%;
  }
}
@media (max-width: 482px) {
  .works__item {
    width: 100%;
  }
}
